Final Project Uni/Assets/Plugins/Borodar/RainbowFolders/Editor/Source/RainbowFolders.src.unitypackage.meta
Final Project Uni/Assets/Plugins/Sirenix/Demos/Custom Attribute Processors.unitypackage.meta
Final Project Uni/Assets/Plugins/Sirenix/Demos/Custom Drawers.unitypackage.meta
Final Project Uni/Assets/Plugins/Sirenix/Demos/Editor Windows.unitypackage.meta
Final Project Uni/Assets/Plugins/Sirenix/Demos/Sample - RPG Editor.unitypackage.meta
Final Project Uni/Assets/3rdPartyAssets/polyperfect/Low Poly Ultimate Pack/02 - WorldsSettings.lighting
Final Project Uni/Assets/3rdPartyAssets/polyperfect/Low Poly Ultimate Pack/02 - WorldsSettings.lighting.meta
Final Project Uni/Assets/Plugins/Febucci/Text Animator/Extra/Typewriter Sound - Package.unitypackage.meta
Final Project Uni/Assets/Plugins/Febucci/Text Animator/Integrations/PlayMaker - Integration.unitypackage.meta
Final Project Uni/Assets/Plugins/Febucci/Text Animator/Integrations/Visual Scripting - Integration.unitypackage.meta
Final Project Uni/Assets/LevelPlay/Editor/LevelPlayVersions.json
Test Build/Pixel Archer.apk
Test Build/Pixel Archer_BurstDebugInformation_DoNotShip/tempburstlibs/arm64-v8a/lib_burst_generated.txt
Test Build/Pixel Archer_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
Final Project Uni/Assets/ExpeditionSaveData.json
Final Project Uni/Assets/ExpeditionSaveData.json.meta
Test Build/Pixel Archer 1.0.apk
Test Build/Pixel Archer 1.0_BurstDebugInformation_DoNotShip/tempburstlibs/arm64-v8a/lib_burst_generated.txt
Test Build/Pixel Archer 1.0_BurstDebugInformation_DoNotShip/tempburstlibs/armeabi-v7a/lib_burst_generated.txt
Final Project Uni/Pixel Archer Source.rar
